
/*
========================================================================== */

// $mp-w: 450px;
// $mp-h: 780px;

$mp-w: 400px;
// $mp-h: calc( $mp-w / 9 * 16 );
$mp-h: 711px;
$pf-w: 25px;


/*
primary
secondary
tertiary
quaternary
quintic
*/