@use "../Global/index" as *;

/* ==========================================================================

========================================================================== */

.slidePanel {
  width: 290px;
  min-height: 100%;
  background-color: var(--color-navy-a10);
  border-left: 2px solid var(--color-navy);
  position: fixed;
  top: var(--window-sp-block); right: var(--window-sp-inline);
  z-index: 100;
  transform: translateX(100%);
  transition: .2s translate ease 0s;
  @include mq(sm) {
    min-height: 100dvh;
  }

  &.is-open {
    transform: translateX(0);
    box-shadow: -20px 0px 30px rgba(0,0,0,.4);
  }

  &__inner {
    padding-left: 30px;
    position: relative;
  }

  .copyright {
    font-size: rem(12px);
    padding-left: 10px;
  }
}

.panel-overlay {
  // display: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.is-slidePanel-open {
  .panel-overlay{
    visibility: visible;
    background-color: var(--color-navy);
    animation-name: fadeIn-alpha-05;
    animation-fill-mode: forwards;
    animation-duration: .4s;
  }
}


/* ==========================================================================

========================================================================== */

.site-header {
  position: relative;
  padding: 30px 10px 20px;
  &__logo {
    width: 80px;
    svg { fill: var(--color-navy); }
  }

  &__img {
    width: 110px;
    height: auto;
    position: absolute;
    right: 30px;
    bottom: -15px;
  }
}

/* ==========================================================================

========================================================================== */

.hamburger-icon {
  display: block;
  width: 30px;
  transition: .2s all;
  position: absolute;
  top: 30px; left: 0;
  translate: calc(-100% - 2px);
  border-radius: 4px 0 0 4px;
  border: 1px solid var(--color-navy);
  border-right: none;
  overflow: hidden;
  @include mq(sm) {
    position: fixed;
  }

  ._btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--color-navy-a10);
    &:hover {
      cursor: pointer;
    }
  }

  .bars {
    display: inline-block;
    position: relative;
    width: 13px;
    height: 11px;
    transition: all .2s ease;

    span {
      display: inline-block;
      transition: all .2s;
      box-sizing: border-box;
      transform-origin: center center;
      position: absolute;
      right: 0;
      width: 100%;
      height: 2px;
      border-radius: 4px;
      background-color: var(--color-navy);
      &:nth-of-type(1) {
        top: 0;
      }
      &:nth-of-type(2) {
        top: 50%;
        translate: 0 -50%;
      }
      &:nth-of-type(3) {
        bottom: 0;
      }
    }//span
  }//.bars
}

.hamburger-icon.is-clicked {
  background-color: rgb(var(--color-brand-primary-rgb) / 1);
  .bars {
    width: 18px;
    span {
      &:nth-of-type(1) {
        top: 50%;
        rotate: -40deg;
        translate: 0 -1px;
      }
      &:nth-of-type(2) {
        opacity: 0;
      }
      &:nth-of-type(3) {
        rotate: 40deg;
        bottom: 50%;
        translate: 0 1px;
      }
    }//span
  }//.bar
}


/* ==========================================================================
  gnavi
========================================================================== */

.gnavi {
  position: relative;
  &__list {
    margin-bottom: 30px;
  }

  &__list-item {
    border-radius: 10px 0 0 10px;
    overflow: hidden;
    &:not(:last-child) { margin-bottom: 15px; }

    ._btn {
      display: flex;
      align-items: center;
      width: 100%;
      height: 45px;
      font-size: rem(16px);
      padding: .5em 1.5em;
      background-color: white;
      &:hover {
        .btn-arrow { translate: 5px 0; }
      }
    }

    .btn-arrow {
      margin-inline: auto 1em;
      transition: .2s translate;
      &::before,&::after {
        background-color: var(--color-dark);
      }
    }

    .pd-cross-icon {
      margin-inline: auto 1em;
    }
  }//&__list-item


  .pulldown {
    &__list-item {
      background-color: white;
      &:not(:last-child) {
        border-bottom: 1px solid white;
      }
      a {
        display: flex;
        align-items: center;
        height: 40px;
        padding-inline: 35px;
        background-color: rgb(var(--color-navy-rgb) / .2);
      }
    }
  }

  .subnavi {
    padding-left: 10px;
    margin-bottom: 40px;
    &__item {
      &:not(:last-child) { margin-bottom: 15px; }
      a {
        font-size: rem(13px);
      }
    }
  }//.subnavi
}

/* ==========================================================================

========================================================================== */

.pd-cross-icon {
  --width: 12px;
  width: var(--width);
  position: relative;

  &::before,&::after {
    --bdrsize: 1.5px;
    content: "";
    display: block;
    width: var(--width);
    height: var(--bdrsize);
    background-color: var(--color-dark);
    border-radius: 3px;
    position: absolute;
    transform-origin: center center;
  }

  &::before {
    rotate: 90deg;
    transition: rotate .2s,
  }

  &::after {

  }
}

/* ==========================================================================
  pulldown
========================================================================== */

.js-pulldown {
  &__box {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows .2s ease-out;
    &__inner {
      overflow-y: hidden;
    }
  }//&__box


  &.is-open {
    .js-pulldown__box {
      grid-template-rows: 1fr;
    }
    .pd-cross-icon {
      &::before {
        rotate: 0deg;
      }
    }
  }//&.is-open
}

